Build/
build/
build2/
Data
Out/
*.swp
.vscode/
*.root
*.so
*.d
*.pcm
.MugastShape
tmp
cmake-build-debug
.idea
Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake
G__*
*.rootmap
lib*.a
effanalysis
.run
GammaEvents*
effanalysis
simulationanalysis
*.cbp
Runs.txt
main
Tester
serialization.txt
Utilities/FemulCalibrations/Configs/ConfVAMOS/Calibs
Utilities/FemulCalibrations/ConfVAMOS/Calibs

